/*****页头样式*********/
#head{
    height:74px;
    background-color:#303030;
}
#head:before{
    content:"";
    display: table;
}
.navbar{
    color:#fff;
    width:80%;
    margin:10px auto;
    display: flex;
}
.navbar>li{
    box-sizing: border-box;
    margin:0 10px;
    width:10%;
    text-align: center;
    line-height: 48px;
    position: relative;
}
.navbar>li.logo{
    width:20%;
}
.navbar>li>a{
    display: inline-block;
    padding:0 8px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;

}
.navbar>li.home>a{
    border-radius: 25px;
    background: url(../img/nav-item.png) no-repeat scroll 100%;
    font-weight: 700;
}
.navbar>li.active>a{
    background: url(../img/nav-item.png) no-repeat scroll 100%;
    border-radius: 25px;
}
#sub_menu{
    width: 200px;
    height:200px;
    position: absolute;
    background-image:linear-gradient(to bottom,#303030,#DEDEDE);
    z-index: 10000;
    left:-133%;
    display: none;
}
#sub_menu>div.close{
    position: absolute;
    background: #fff;
    color:#222;
    border-radius: 45%;
    text-align: center;
    height:20px;
    line-height: 20px;
    width:20px;
    cursor: pointer;
    animation: myrotate 6s linear infinite;
    right:-10px;
    top:-10px;
}
@keyframes myrotate {
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#sub_menu>h2{
    width:80%;
    margin: 0 auto;
    text-align: left;
    padding-left: 10px;
    background: rgba(59,146,6,.8);
    border-radius: 5px;
}
.form_area{
    font-size: 14px;
    text-align: left;
    margin:10px 0;
    position: relative;
}
.form_area>span{
    margin:0;
    height:20px;
    line-height: 20px;
    display: inline-block;
    width:60px;
}
.form_area>input{
    width:130px;
    border:none;
    border-radius: 10px;
}
.vali_area{
    position: absolute;
    top:-10px;
    height:20px;
    line-height: 20px;
    left:0;
    color:#e4393c;
}
.info{
    position: absolute;
    right:8px;
    top:13px;
    height:20px;
    line-height: 20px;
    color: #09BB07;
}
.submit_area{
    margin:0;
    height:30px;
    line-height: 30px;
    text-align: left;
}
.submit_area>a{
    text-decoration: underline;
    color:#2BAD13;
}
#login_btn{
    float: right;
    position: relative;
    top:-2px;
    background: #212020;
    border:none;
    border-radius: 5px;
    transition: all .5s linear;
}
#login_btn:hover{
    background: #fff;
    color:#212020;
}
/***页脚样式****/
.footer{
    width: 100%;
    margin-top: 22px;
    border-top: 1px solid #d4dadf;
    font-size: 12px;
    text-align: center;
    color: #888;
    padding: 10px 0;
}
.link_lf{
    float: left;
}
.link_lf>a{
    color:#888;
    display: inline-block;
}
.link_rt{
    float: right;
}
.link_rt>a{
    color:#888;
    display: inline-block;
}