/*****通用样式********/
body{
    font-family: "微软雅黑";
}
ul{
    list-style: none;
}
a{
    color:#fff;
    text-decoration: none;
}
img{
    vertical-align:bottom;/*向下多占3像素问题*/
}
.right{
    float: right;
}
.contanier{
    width:80%;
    margin:0 auto;
}

/*页头样式*/
#head{
    border-top:2px solid #44B549;
}
#head::before{
    content: " ";
    display: table;
}
#head a{
    color:#459AE9;
}
#head a:hover{
    text-decoration: underline;
}
#head>div.contanier{
    height:60px;
    background: #fff;
    line-height:60px;
}
#head>div.contanier:before{
    content: " ";
    display: table;
}
div.logo{
    height:60px;
    box-sizing: border-box;
    padding-left:10%;
}
div.logo>img{
    width:5%;
}
div.logo>span{
    font-size:1.4em;
    color: #B1B5B7;
    padding-left:1%;
}
div.link{
    padding-right:5%;
}
/*页尾样式*/
#foot{
    background: #B8B9B9;
    color:#fff;
    font-size: .9em;
}
#foot::before{
    content: "";
    display: table;
}
#foot a{
    color:#fff;
    font-size: .9em;
}
.f_nav{
    display: flex;
    width: 80%;
    margin:0 auto;
    padding:3% 0;
}
.f_nav>li{
    padding-left:1%;
}