/**通用样式表**/
body{
    font-family: "微软雅黑";
    font-size: 100%;
}
img{
    vertical-align:bottom;/*向下多占3像素问题*/
}
ul{
    list-style: none;
    padding: 0;
}
a{
    color:#fff;
    text-decoration: none;
}
.container{
    display: flex;
    position: absolute;
    top:10%;
    left:25%;
    margin: 0 auto;
    width: 50%;
    height:500px;
    box-sizing: border-box;
    border: 1px solid transparent;
    font-size: 1em;
    transition:all .8s linear ;
}
.container_lg{
    width:80%;
    height:800px;
    top:0;
    left:10%;
    font-size: 1.5em;
}
.right{
    float: right;
}
.left{
    float: left;
}
/**网页整体布局样式**/
#header{
    height:74px;
}
#main{
    position: relative;
    background: url(../img/bg_pic.jpg);
    background-size:cover;
}
#footer{
    height:99px;
}
#foot{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
/***1.侧边栏****/
.slider{
    position: relative;
    width:10%;
    background: #25282C;
    height:100%;
    color:#fff;
    font-size: 1rem;
}
.urs_pic{
    border: 1px solid rgba(0,0,0,.8);
    display: block;
    width:75%;
    margin: 16% auto;
    cursor: pointer;
}
#urs_pic{
    position: relative;
}
.urs_info{
    position: absolute;
    background: #fff;
    top:50%;
    left:50%;
    width: 19rem;
    height:16rem;
    z-index: 1000;
    color:#222;
    display: none;
}
.u_i_up{
    display: flex;
    box-sizing: border-box;
}
.text_info{
    margin-left:10%;
    display: flex;
    flex-wrap: wrap;
}
.pic_info{
    width: 20%;
    height:3.5rem;
    margin:1.5rem auto;
}
.urs_name{
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
}
.urs_sex{
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.urs_ID{
    width: 100%;
    color:#ABABAB;
    font-size: 80%;
}
.u_i_dw{
    box-sizing: border-box;
    width: 80%;
    margin:0 auto;
    border-top:1px solid #FAFAFA;
    overflow: hidden;
}
.urs_location{
    margin-top:5%;
    font-size: 80%;
    color:#ABABAB ;
}
.urs_location>span{
    color:#222;
}
.func{
    text-align: center;
}
.func>li{
    margin:10px 0;
    cursor: pointer;
}
.func>li.active{
    color:#09BB07;
}
.bottom_box{
    position: absolute;
    bottom: 1%;
    left:28%;
    cursor: pointer;
}
.setting_menu{
    position: absolute;
    background: #28292B;
    left:3.2em;
    top:-196%;
    width:6rem;
    z-index: 1000;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;
}
.setting_menu>ul{
    margin: 5% 0;
}
.setting_menu>ul>li{
    margin:10px 0 10px 8px;
}
.setting_menu>ul>li>a{
    color: #8C8C8C;
    text-decoration: none;
    font-size: 80%;
    font-family: 微软雅黑;
}
/**2.主界面**/
.main{
    width:30%;
    height:100%;
    background: #E7E7E7;
    position: relative;
}
.search{
    height:12%;
    width: 95%;
    margin: 5px auto;
    padding:17px 0;
    box-sizing: border-box;
    position: relative;
}
.search>input{
    border-radius: 5px;
    background: #E5E2E2;
    width:75%;
    border:1px solid #DDDAD9;
}
.search>button{
    background: #e5e2e2;
    border:1px solid #DDDAD9;
    color:#646464;
    box-sizing: border-box;
    width:16%;
}
.search_info{
    position: absolute;
    background: #fff;
    border:1px solid #DDDAD9;
    border-top:none;
    width:75%;
    height: 3rem;;
    top: 2.5rem;;
    left:0;
    z-index: 2000;
    flex-direction: column;
    display: none;
}
.search_info h4{
    margin:0;
    cursor: pointer;
}
.details{
    overflow: hidden;
    height:86%;
    position: relative;
}
.list{
    margin:0;
    position: relative;
    padding-top:3%;
}
.list>li{
    display: flex;
    padding-left:10px;
    margin-bottom:8%;
    cursor: pointer;
    position: relative;
}
.red_point{
    position: absolute;
    top:-19%;
    width:10px;
    height:10px;
    left:26%;
    color:#fff;
    display: none;
}
.list>li.active{
    background: rgba(197,196,196,.8);
}
.list>li.active h5{
    color: #222;
}
.list>li>img.f_pic{
    width: 25%;
    height:10%;
}
.talk-item{
    width:70%;
    margin-left: 5%;
}
.talk-head{
    height: 50%;
}
.f_name{
    margin:0;
    font-size: .9rem;/*  8个字符*/
}
.s{
    font-size: .93em;/*10个字符*/
}
.xs{
    font-size: .8em;/*12个字符*/
}
.last_time{
    float: right;
    color:#222;
}
.talk_content{
    margin-top:5%;
    margin-bottom:0;
    overflow: hidden;
    max-width: 100%;
    height: 45%;
    color:#9C9C9D;
    font-size: .8rem;
}
/**3.聊天窗口**/
.talk{
    width:60%;
    background:url(../img/talk_bg.png) no-repeat center rgba(231,231,231,.5);
}
.t_top{
    width:100%;
    height:5%;
}
.btn_group{
    height:100%;
}
.btn_group>button{
    background: transparent;
    border: none;
    color:#999999;
    width: 26%;
    height:100%;
    position: relative;
}
.btn_info{
    position: absolute;
    bottom:-15px;
    right:-18px;
    background: #fff;
    color:#222;
    border:1px solid #000;
    z-index: 100;
    max-width:400%;
    height:16px;
    font-size: 12px;
    margin:0;
    display: none;
}
.t_title{
    width: 100%;
    height:5%;
    position: relative;
    display: none;
}
#t_name{
    margin: 0;
    margin-left:3%;
}
#t_btn{
    float: right;
    background: transparent;
    border: none;
    padding: 0;
    margin-right: 5%;
}
.flip_menu{
    position: absolute;
    right:0;
    top:100%;
    z-index: 1000;
    width:30%;
    height:1800%;
    background: #fff;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    padding-left:5%;
    padding-top:5%;
    color:#575758;
    display: none;
}
.mbr_plus{
    background: #F0F0F0;
    border:none;
    margin-bottom:3%;
}
.t_screen{
    width:100%;
    height:90%;
    overflow: hidden;
}
.t_main{
    height:100%;
    width: 100%;
    overflow:hidden;
    box-sizing: border-box;
    border-top:1px solid #E8E8E8;

}
.row{
    box-sizing: border-box;
    width: 100%;
    margin:2% 0;
    display: flex;
    flex-wrap: wrap;
}
.lf{
    padding-left:2%;
    flex-direction: row;
}
.rt{
    padding-right: 2%;
    flex-direction: row-reverse;
}
.sub_time{
    text-align: center;
    font-size: 1rem;
    font-family: '微软雅黑';
}
.row>img{
    width:12%;
    height:10%;
}
.msg{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    font-size: 2em;
    line-height: 1.4em;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #EDEDED;
    max-width: 80%;
}
.t_input{
    height:25%;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    background: #FFFFFF;
    display: none;
}
.input_top{
    height:25%;
    width: 100%;
    position: relative;
}
#frist_input{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    background: #fff;
    height:100%;
}
.input_bottom{
    height:75%;
    width: 100%;
    position: relative;
}
.input_area{
    height:100%;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 0;
}
#sub_btn{
    font-size: .8em;
    position: absolute;
    right: 0;
    bottom:0;
    border: 1px solid #EEEEEE;
    color:#626262;
    background: #F5F5F5;
    text-align: center;
}









/*******自值鼠标右键菜单*******/
.cstCM{
    width:120px;
    background:#eee;
    border:1px solid #ccc;
    position:absolute;
    z-index: 2000;
    display:none;}
.cstCM ul{
        margin:0;
        padding:0;
}
.cstCM ul li{
    list-style:none;
    padding:0 10px;
    cursor:default;
}
.cstCM ul li:hover{
    background:#009;
    color:#fff;
}
.splitTop{
    border-bottom:1px solid #ccc;
}
.splitBottom{
    border-top:1px solid #fff;
}




/*添加好友的模态框*/
#model{
    background:rgba(0,0,0,.5);
    position :fixed;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index: 2000;
    display: none;

}
#friend_info{
    width:50%;
    margin:0 auto;
    background:#fff;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
#friend_info>img{
    width:50%;
}
#friend_info>button{
    background: #95D902;
    color: #fff;
    border-radius: 5px;
    border: none;
    position: relative;
    left:-10px;
    bottom:10px;
}
#model_close{
    height:30px;
    width: 30px;
    position: absolute;
    right:-2%;
    top:-2%;
    background: #222;
    color:#fff;
    border-radius: 50%;
    line-height: 30px;
    cursor: pointer;
}